*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1;
}

/* HEADER */

header{
	color: #fff;
	background: url('../images/header-bg.png') top center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.arrows-slider{
	font-size: 42px;
	height: 100vh;
	width: 90%;
	left: 50%;
	margin-left: -45%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.arrows-slider a:hover{
	color: #c7b299;
}
.container{
	position: absolute;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	height: 100%;
	padding: 0 25px;
	padding-top: 35px;
}
header a{
	color: #fff;
	text-decoration: none;
}

/* HEADER-BLOCK */

.header-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-block-logo{
	font-size: 34px;
	background: url('../images/header-logo.png') no-repeat left center;
	padding: 15px 0 15px 65px;
}
.header-block-nav{
	
}
.header-block-nav ul{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	display: flex;
}
.header-block-nav ul li{
	margin-left: 30px;
}
.header-block-nav ul li:nth-child(9){
	margin-left: 60px;
}
.header-block-nav ul li a:hover{
	color: #c7b299;
}
/* HEADER-CONTENT-BLOCK */

.header-content-block{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1px 1fr 30px;
	margin-top: -65px;
	height: 100%;
}
.header-content{
	text-align: center;
	margin-top: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.header-pretitle{
	font-size: 36px;
	font-weight: 500;
}
.header-title{
	font-size: 52px;
	font-weight: 800;
	margin-top: 10px;
}
.header-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-top: 25px;
}
.header-button{
	font-size: 14px;
	font-weight: 800;
	background: #998675;
	border-bottom: 3px solid #736357;
	border-radius: 5px;
	padding: 20px 35px 17px;
	margin-top: 50px;
}
.header-button:hover{
	background: #c7b299;
}
.header-slides{
	width: 70px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.header-slides-item{
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #939395;
}

/* MAIN */ 
/* services */
.services{
	text-align: center;
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding: 80px 25px 0;
}
.services-item:hover .servicse-item-img{
	color: #c7b299;
}
.services-item:hover .servicse-item-title{
	color: #c7b299;
}
.services-item:hover .servicse-item-line{
	background-color: #c7b299;
}
.servicse-item-img{
	font-size: 30px;
}
.servicse-item-title{
	font-size: 22px;
	font-weight: 600;
	margin-top: 25px;
}
.servicse-item-text{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	width: 90%;
	margin: 25px auto 0;
}
.servicse-item-line{
	height: 3px;
	width: 70px;
	margin: 25px auto 10px;
	background-color: #f1eee9;
}

/* WAXOM */
.waxom{
	text-align: center;
	margin: 150px auto 0;
	width: 80%;
}
.waxom-title{
	font-size: 30px;
	font-weight: 600;
}
.waxom-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-top: 25px;
}
.waxom-img{
	margin-top: 40px;
}
.waxom-img img{
	width: 100%;
}

/* WORDPRESS */

.wordpress{
	height: 150px;
	background: linear-gradient(to right, #211b19 0%, #4e3427 100%);
	margin-top: -3px;
	display: flex;
	align-items: center;
}
.wordpress-container{
	width: 80%;
	margin: 0 auto;
	padding: 0 25px;
	display: grid;
	grid-column-gap: 30px;
	grid-template-columns: 10fr 2fr;
	grid-template-rows: auto;
	grid-template-areas: 
		"title button"
		"text button"
}
.wordpress-title{
	font-size: 28px;
	color: #fff;
	grid-area: title;
}
.wordpress-title span{
	color: #c7b299;
}
.wordpress-text{
	font-size: 18px;
	font-weight: 300;
	color: #615855;
	margin-top: 10px;
	grid-area: text;
}
.wordpress-button{
	font-size: 14px;
	font-weight: 800;
	line-height: 53px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #998675;
	border-bottom: 3px solid #736357;
	border-radius: 5px;
	grid-area: button;
}
.wordpress-button:hover{
	background: #c7b299;
}

/* our-projects */

 .our-projects{
	 margin: 80px auto 0;
	 width: 80%;
	 padding: 0 25px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
 }
 .our-projects-title{
	 font-size: 30px;
	 font-weight: 600;
 }
 .our-projects-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	margin-top: 30px; 
 }
.our-projects-links ul{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.our-projects-links ul li {
	margin-right: 10px;
}
.our-projects-links ul li:hover a{
	color: #fff;
	background: #998675;
}
.our-projects-links ul li a{
	color: #8c8c8c;
	text-decoration: none;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding:  10px 17px;
}
.our-projects-links ul li a:first-child{
	padding:  10px 35px;
}
.our-projects-items{
	margin-top: 50px;
}
.our-projects-item:hover .our-projects-item-caption{
	background: #362f2d;
}
.our-projects-item:hover .triangle{
	border-bottom-color:#362f2d;
}
.our-projects-item:hover .our-projects-item-img::before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background-color: #000;
	opacity: 0.7;
}
.our-projects-item-img{
	height: 237px;
	font-size: cover;	
	position: relative;
}
.img-1{
	background: url('../images/project1.png') top center no-repeat;
}
.img-2{
	background: url('../images/project2.png') top center no-repeat;
}
.img-3{
	background: url('../images/project3.png') top center no-repeat;
}
.img-4{
	background: url('../images/project4.png') top center no-repeat;
}
.img-5{
	background: url('../images/project5.png') top center no-repeat
}
.img-6{
	background: url('../images/project6.png') top center no-repeat;
}
.our-projects-items{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 30px;
	grid-template-areas: 
		"aa bb cc"
		"dd ee ff"
}
.our-projects-item-1{
	grid-area: aa;
}
.our-projects-item-2{
	grid-area: bb;
}
.our-projects-item-3{
	grid-area: cc;
}
.our-projects-item-4{
	grid-area: dd;
}
.our-projects-item-5{
	grid-area: ee;
}
.our-projects-item-6{
	grid-area: ff;
}
.our-projects-item-caption{
	padding-left: 25px;
	position: relative;
}
.triangle{
	position: absolute;
	margin: -26px 0 0 -10px;
	display: inline-block;
	border: 13px solid transparent;
	border-bottom-color: #fff;
}
.our-projects-item-title{
	font-size: 20px;
	font-weight: 500;
	color: #c7b299;
	padding-top: 30px;
}
.our-projects-item-text{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #d1d1d1;
	margin-top: 13px;
	padding-bottom: 30px;
}
.our-projects-button{
	font-size: 14px;
	font-weight: 800;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #998675;
	border-bottom: 3px solid #736357;
	border-radius: 5px;
	padding: 20px 40px;
	margin: 40px 0 80px;
}
.our-projects-button:hover{
	background: #c7b299;
}
.our-projects-item-links{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.our-projects-item-links:hover{
	opacity: 1;
}
.our-projects-item-links a{
	color: #fff;
	font-size: 30px;
	text-decoration: none;
}
.our-projects-item-links a:hover{
	color: #c7b299;
}
.our-projects-item-links a:last-child{
	padding-left: 30px;
}

/* VIDEO */

.video{
	position: relative;
	background: url('../images/video-bg.png') top center no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.video-block{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.video-img{
	background: url('../images/Play-Video.png');
	height: 100px;
	width: 100px;
}
.video-title{
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	margin-top: 40px;
}
.video-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
	color: #fff;
	margin-top: 25px;
}
.video-time{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #c7b299;
	margin-top: 40px;
}

/* MOBILE */

.mobile{
	margin: 80px auto 0;
	width: 80%;
	padding: 0 25px;
	display: grid;
	grid-template-columns: 5fr 7fr;
	grid-template-rows: 600px;
	grid-column-gap: 30px;
	grid-template-areas: "img content";
}
.mobile-img{
	grid-area: img;
	background: url('../images/mobile.png') top center no-repeat;
	background-size: cover;
	width: 100%;
}
.mobile-content{
	grid-area: content;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.mobile-content-title{
	font-size: 30px;
	font-weight: 600;
}
.mobile-content-text{
	font-family: 'Montserrat', sans-serif;
	line-height: 28px;
	font-weight: 300;
	margin-top: 35px;
}
.mobile-content-features{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-top: 40px;
	padding-left: 50px;
}
.mobile-content-features-item{
	background: url('../images/point.png') center left no-repeat;
	padding: 3px 0 2px 50px;
	margin-bottom: 15px;
}

/* COUNTERS */

.counters{
	height: 300px;
	background: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.counters-items{
	text-align: center;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding: 0 190px;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}
.counters-item-img{
	font-size: 30px;
	color: #c7b299;
}
.counters-item-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: 200;
	color: #fff;
	margin-top: 30px;
}
.counters-item-text{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #c7b299;
	margin-top: 20px;
}
.counters-item-line{
	height: 2px;
	width: 30px;
	background: #fff center;
	margin: 30px auto 0;
}

/* RECENT POSTS */

.recent-post{
	text-align: center;
	width: 80%;
	height: 100%;
	margin: 0 auto;
}
.recent-post-title{
	font-size: 30px;
	font-weight: 600;
	margin-top: 80px;
}
.recent-post-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 28px;
	margin-top: 20px;
}
.recent-post-block{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}
.recent-post-block-item{
	text-decoration: none;
	color: #000;
	width: 32%;
}
.recent-post-block-img{
	background-size: cover;
	min-height: 200px;
	position: relative;
}
.recent-post-block-date{
	color: #fff;
	position: absolute;
	top: 15px;
	left: 15px;
}
.recent-post-block-day{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 300;
	padding: 8px 13px;
	background-color: #363636;
	border-radius: 5px 5px 0 0;
}
.recent-post-block-month{
	font-size: 12px;
	padding: 5px 13px;
	background-color: #252525;
	border-radius: 0 0 5px 5px;
	margin-top: -2px;
}
.post-img-1{
	background: url('../images/post1.png') top center no-repeat;
}
.post-img-2{
	background: url('../images/post2.png') top center no-repeat;
}
.post-img-3{
	background: url('../images/post3.png') top center no-repeat;
}
.recent-post-block-title{
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	padding: 25px 0 0 30px ;
}
.recent-post-block-text{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	text-align: left;
	padding: 20px 0 0 30px ;
}
.recent-post-block-more{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	color: #c7b299;
	padding: 20px 0 20px 30px ;
}
.recent-post-block-slider{
	margin: 40px 0 80px 0;
}
.recent-post-block-more i{
	font-size: 16px;
	padding-left: 10px;
}
.recent-post-block-slider i{
	font-size: 22px;
	color: #d4d4d4;
}
.recent-post-block-slider i:first-child{
	margin-right: 7px;
}
.recent-post-block-slider i:hover{
	color: #cab79f;
}
.recent-post-block-item:hover .recent-post-block-img::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.7;
}
.recent-post-block-item:hover .recent-post-block-content{
	background-color: #362f2d;
}
.recent-post-block-item:hover .recent-post-block-title{
	color: #c7b299;
}
.recent-post-block-item:hover .recent-post-block-text{
	color: #fff;
}
.recent-post-block-item:hover .recent-post-block-day{
	background-color: #c7b299;
}
.recent-post-block-item:hover .recent-post-block-month{
	background-color: #a48d72;
}

/* PARTNERS */

.partners{
	background: url('../images/partners.png') top center no-repeat;
	background-size: cover;
	height: 489px;
}
.partners-block{
	width: 80%;
	margin: 0 auto;
	padding: 0 25px; 
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* FOOTER */

/* FOOTER-CONTENT */

.footer-content{
	background: #191919;
	height: 500px;
}
.footer-content-block{
	height: 100%;
	width: 80%;
	margin: 0 auto;
	padding: 0 25px; 
	display: flex;
	align-items: center;
}
.footer-content-block-container{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.footer-content-item{
	width: 24%;
}
.footer-content-item-title-1{
	font-size: 34px;
	color: #fff;
	padding: 10px 0 10px 65px;
	background: url('../images/header-logo.png') center left no-repeat;
}
.footer-content-item-text-1{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	color: #555;
	margin-top: 40px;
}
.footer-content-item-more-1{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	display: block;
	margin-top: 30px;
}
.footer-content-item-more-1 i{
	padding-left: 10px;
}
.footer-content-item-title-2{
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	padding-top: 20px;
}
.footer-content-item-post{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: #555;
	display: block;
	border-bottom: 1px solid #555;
	padding: 20px 0 25px 0;
}
.footer-content-item-post:last-child{
	border-bottom: 0;
}
.footer-content-item-date-2{
	font-size: 12px;
	margin-bottom: 10px;
}
.footer-content-item-text-2{
	font-size: 14px;
	line-height: 20px;
}
.footer-content-item-post:hover .footer-content-item-date-2{
	color: #fff;
}
.footer-content-item-post:hover .footer-content-item-text-2{
	color: #c7b299;
}
.footer-content-item-post a{
	text-decoration: none;
	color: #00bff3;
}
.footer-content-item-post a.white{
	color: #959595;
}
.footer-content-item-text-3{
	font-size: 14px;
	line-height: 20px;
}
.footer-content-item-date-3{
	font-size: 12px;
	margin-top: 10px;
}
.footer-content-item-container-img{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "aa ab" "ba bb";
	margin-top: 30px;
}
.footer-content-item-img-1{
	grid-area: aa;
	background: url('../images/dribbble1.png') top center no-repeat;
	background-size: cover;
	height: 100px;
	
}
.footer-content-item-img-2{
	grid-area: ab;
	background: url('../images/dribbble2.png') top center no-repeat;
	background-size: cover;
	height: 100px;
}
.footer-content-item-img-3{
	grid-area: ba;
	background: url('../images/dribbble3.png') top center no-repeat;
	background-size: cover;
	height: 100px;
}
.footer-content-item-img-4{
	grid-area: bb;
	background: url('../images/dribbble4.png') top center no-repeat;
	background-size: cover;
	height: 100px;
}
.end{
	background-color: #111;
	height: 110px;
}
.end-block{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 300;
	height: 100%;
	width: 80%;
	margin: 0 auto;
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.end-block-left{
	color: #555;
	display: flex;
}
.end-block-left li{
	margin-right: 10px;
}
.end-block-left li:nth-child(2){
	margin-left: 10px;
}
.end-block-left li a{
	text-decoration: none;
	color: #555;
	margin-right: 10px; 
}
.end-block-left li a span{
	color: #959595;
}
.end-block-left li a:hover,
.end-block-left li a span:hover
{
	color: #c7b299;
}
.end-block-right{
	display: flex;
	color: #555;
}
.end-block-right li{
	margin-right: 10px;
}

.end-block-right li span{
	color: #959595;
	margin-right: 10px;
}